<style>
  .lcars-footer {
	width: 100%; 
	border-color: #00273f;
    border-style: solid;
    border-width: 0 0 24px 6px;
	border-radius: 0 0 0 12px;
	margin-bottom: 5px;
  }
  .column-headerfields1-name-extendedtasks {
	width: 100%;
  }
  .column-headerfields1-name-extendedtasks td {
	text-align: center;
  }
  .extendedtask-description-header {
	width: calc(100% - 30px);
	font-weight: bold;
	font-size: large;
  }
  .extendedtask-description-close {
	width: 27px;
	width: 27px;
	float: right;
  }
  .extendedtask-description {
    width: 100%;
  }
  .extendedtask-description .row2 {
    width: 100%;
    flex-basis: 100%;
  }
  .extendedtask-description .numeric-entry {
	width: 45px;
  }
  .lcars-row {
	display: flex;
	margin-top: 15px;
  }
  .lcars-row-continue {
	display: flex;
  }
  .lcars-row-continue .lcars-column {
    padding-bottom: 24px;
  	border-radius: 0 0 0 12px !important;
  }
  .lcars-table-header {
	padding: 5px 0 0 10px;
	font-weight: bolder;
	background-color: #00273f;
	flex-basis: 100%;
	border-radius: 12px 0 0 0;
  }
  .extendedtask .track {
	margin-right: 5px;
  }
  .boxWork {
	margin: 2px !important;
  }
  .row2 {
    display: flex;
    flex-direction: row;
  }
  .column2 {
    flex: 12px;
	margin-right: 5px;
  }
  .row2-continue {
    display: flex;
    flex-direction: row;
	border-color: #00273f;
    border-style: solid;
    border-width: 0 0 0 6px;
    flex: 12px;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .lcars-content {
    padding: 5px;
	width: 100%;
  }
  .extendedtask-renderer {
	height: 250px;
  }
}
</style>
<form class="{{cssClass}}" autocomplete="off">
  <div class="main-content" >
	<div class="row2 1 lcars-table-header"><label class="label">{{localize 'sta.item.genericitem.name'}}</label></div>
    <div class="row2-continue">
      <div class="lcars-content">
        <input name="name" type="text" class="text-entry" value="{{name}}" placeholder="{{localize 'sta.item.genericitem.name'}}" />
		<br/>
		<table>
			<tr>
				<td style="width:25%"><label class="label">{{localize 'sta.actor.extendedtask.magnitude'}} <br/> (easy:4, very hard:20)</label></td>
				<td style="width:25%"><label class="label">{{localize 'sta.actor.extendedtask.resistance'}}<br/> (default:0)</label></td>	
				<td style="width:25%"><label class="label">{{localize 'sta.actor.extendedtask.difficulty'}}<br/> (default:2)</label></td>
				<td style="width:25%"><label class="label">Complication Range (default:0)</label></td>
			</tr><tr>
				<td style="width:25%"><input name="system.magnitude" type="number" id="magnitude" class="numeric-entry" value="{{system.magnitude}}" min="0" data-dtype="Number" /></td>
				<td style="width:25%"><input name="system.resistance" type="number" id="resistance" class="numeric-entry" value="{{system.resistance}}" min="0" data-dtype="Number" /></td>
				<td style="width:25%"><input name="system.difficulty" type="number" id="difficulty" class="numeric-entry" value="{{system.difficulty}}" min="0" data-dtype="Number" /></td>
				<td style="width:25%"><input name="system.complicationRange" type="number" id="complicationRange" class="numeric-entry" value="{{system.complicationRange}}" min="0" data-dtype="Number" /></td>
			</tr>
		</table>
      </div>
    </div>
	<div class="row2 1 lcars-footer"></div>
    <div class="row2 2">
	  <div class="column2">
		<div class="lcars-table-header"> Tasks </div>
        <input type="hidden" id="work-progress" name="system.workProgress" value="{{system.workProgress}}" data-dtype="Number" />
        <div id="rendererTASK" class="row2-continue extendedtask-renderer lcars-content track">
	      <!-- TASK WORK TRACK GOES HERE -->
        </div>
		<div class="lcars-footer"></div>
	  </div>
	  <div class="column2">
		<div class="lcars-table-header"> Breakthroughs </div>
        <input type="hidden" id="bt-progress" name="system.btProgress" value="{{system.btProgress}}" data-dtype="Number" />
        <div id="rendererBT" class="row2-continue extendedtask-renderer lcars-content track">
          <!-- BT WORK TRACK GOES HERE -->
		</div>
		<div class="lcars-footer"></div>
      </div>
	</div>
    <div class="row2 4"  class="extendedtask-description">
	  <div class="extendedtask-description">
		  <div class="extendedtask-description row2">
			<div class="lcars-table-header"> How do extended tasks work? </div>
			<div class="extendedtask-description-close"> 
			   <button
				 type="button"
				 class="hide"
				 title="Hide description"
				 data-action="hide-description"
			   >
				 <i class="fas {{system.extendedTaskDescriptionDisplayButton}}"></i>
			   </button>
			</div>
		  </div>
		  <div class="row2-continue lcars-content" style="display: {{system.extendedTaskDescriptionDisplay}}">
			<table>
				<tr><td>
					The team will need to succeed at 
					<input name="system.taskCount" type="number" id="taskCount" class="numeric-entry" value="{{system.taskCount}}" min="0" readonly /> 
					tasks or smash through 
					<input name="system.breakthroughCount" type="number" id="breakthroughCount" class="numeric-entry" value="{{system.breakthroughCount}}" min="0" readonly data-dtype="Number" />
					breakthroughs.
				</td></tr>
				<tr><td>
					Each task will have a difficulty of 
					<input type="number" id="difficultyDisplay" class="numeric-entry" value="{{system.difficulty}}" min="0" readonly data-dtype="Number" /> 
					and a resistance of 
					<input type="number" id="resistanceDisplay" class="numeric-entry" value="{{system.resistance}}" min="0" readonly data-dtype="Number" />.
				</td></tr>
				<tr><td>
					Critical Failures on those tasks happen at 
					<input type="number" id="critFailDisplay" class="numeric-entry" value="{{system.criticalFail}}" min="0" readonly data-dtype="Number" /> 
					and Critical Successes happen at 
					<input type="number" id="critSuccessDisplay" class="numeric-entry" value="{{system.criticalSuccess}}" min="0" readonly data-dtype="Number" />.
				</td></tr>
				<tr><td>
				
					Critical Successes and Critical Failures cancel each other out. After cancelling, if you have critical failures remaining, the task fails. However, for each critical success remaining, you earn a breakthrough. If you still have critical successes OR you beat the task difficulty, then, roll the number of challenge dice based on the primary discipline <B><U>PLUS 2 additional dice for that task.</U></B> 
				</td></tr>
				<tr><td>
					Generally, there are no "effects" in play, so the "with effects" will usually still only count as 1 success (unless GM has a valid reason to make it 2). However, if the dice total is 
					<input name="system.breakthroughThreshold" type="number" id="breakthroughThreshold" class="numeric-entry" value="{{system.breakthroughThreshold}}" min="0" readonly data-dtype="Number" /> 
					or more successes then you earn a breakthrough. 
				</td></tr>
				<tr><td>
					<b><u>Yes, the two can stack, to result in several breakthroughs per attempt.</u></b>
				</td></tr>
			</table>
		  </div>
		  <div class="lcars-footer"></div>
		</div>
	</div>


</form>
