<form class="{{cssClass}}" autocomplete="off"></form>
<div class="main-content">
	<div class="row2 2">
		<div class="column2">
			<div class="lcars-table-header"> Tasks </div>
			<input type="hidden" id="work-progress" name="system.workProgress" value="{{system.workProgress}}"
				data-dtype="Number" />
			<div id="rendererWORK" class="row2-continue extendedtask-renderer lcars-content track">
				<!-- WORK TRACK GOES HERE -->
			</div>
			<div class="lcars-footer"></div>
		</div>
		<div class="column2">
			<div class="lcars-table-header"> Breakthroughs </div>
			<input type="hidden" id="bt-progress" name="system.btProgress" value="{{system.btProgress}}"
				data-dtype="Number" />
			<div id="rendererBT" class="row2-continue extendedtask-renderer lcars-content track">
				<!-- BT TRACK GOES HERE -->
			</div>
			<div class="lcars-footer"></div>
		</div>
	</div>
</div>
<div class="row2 4"  class="extendedtask-description">
	<div class="extendedtask-description">
		<div class="extendedtask-description row2">
		  <div class="lcars-table-header"> How do extended tasks work? </div>
		  <div class="extendedtask-description-close"> 
			 <button
			   type="button"
			   class="hide"
			   title="Hide description"
			   data-action="hide-description"
			 >
			   <i class="fas {{system.extendedTaskDescriptionDisplayButton}}"></i>
			 </button>
		  </div>
		</div>
		<div class="row2-continue lcars-content" style="display: {{system.extendedTaskDescriptionDisplay}}">
		  <table>
			  <tr><th width="50%">Work</th><th width="50%">Breakthroughs</th></tr>
			  <tr>
				  <td>
					  The team will need to earn 
					  <input name="system.workCount" type="number" id="workCount" class="numeric-entry" value="{{system.workCount}}" min="0" readonly /> 
					  "work" by completing tasks then rolling the effect dice if they succeed.
				  </td><td>... or acquire "breakthroughs" as described below. The team will need
					  <input name="system.breakthroughCount" type="number" id="breakthroughCount" class="numeric-entry" value="{{system.breakthroughCount}}" min="0" readonly data-dtype="Number" />
					  breakthroughs.
				  </td>
			  </tr>
			  <tr>
				  <td>
					  Critical Failures on those tasks happen at 
					  <input type="number" id="critFailDisplay" class="numeric-entry" value="{{system.criticalFail}}" min="0" readonly data-dtype="Number" /> 
					  - 20, and Critical Successes happen as normal for a task roll (i.e. include focus).
				  </td>
				  <td>				
					  Critical Successes and Critical Failures cancel each other out. After cancelling, if you have critical failures remaining, the task fails. 
					  However, for each critical success remaining, you earn a breakthrough. 
				  </td>				
			  </tr>
			  <tr>
				  <td>
					  Each task will have a difficulty of 
					  <input type="number" id="difficultyDisplay" class="numeric-entry" value="{{system.difficulty}}" min="0" readonly data-dtype="Number" /> 
					  and a resistance of 
					  <input type="number" id="resistanceDisplay" class="numeric-entry" value="{{system.resistance}}" min="0" readonly data-dtype="Number" />.
					  (Resistance is applied by removing one success for each point of resistance when adding up successes.)
				  </td>
				  <td>
					  If you have surplus critical successes OR you succeeded the task difficulty, roll the number of challenge dice based on the primary 
					  discipline <B><U>PLUS 2 additional dice for that task.</U></B> 
				  </td>
			  <tr>
				  <td>
					  Generally, there are no "effects" in play, so the dice results "with effects" will usually still only count as 1 success.
					  (unless GM has a valid reason to make them worth 2). 
				  </td>
				  <td>
					  If the success total after all calculations is 
					  <input name="system.breakthroughThreshold" type="number" id="breakthroughThreshold" class="numeric-entry" value="{{system.breakthroughThreshold}}" min="0" readonly data-dtype="Number" /> 
					  or more successes then you earn a breakthrough!
				  </td>
			  </tr>
			  <tr><td colspan="2">
				  <b><u>Yes, you can get a breakthrough for both Critical Success surplus AND the success total, thus earning multiple breakthroughs per attempt.</u></b>
			  </td></tr>
			  <tr><td colspan="2">
				  You succeed at the task when you complete <b><u><i>either</i></u></b> the work track or the breakthrough track.
			  </td></tr>
		  </table>
		</div>
		<div class="lcars-footer"  style="display: {{system.extendedTaskDescriptionDisplay}}"></div>
	  </div>
  </div>
</form>